<div class="page-header mb-5">
    <i class="fas fa-search text-white fa-bg"></i>
    <div class="container-fluid">
        <h3>Text</h3>
        <form [formGroup]="form" (submit)="submit()">
            <div class="flex-row mt-2 mb-2">
                <div class="d-flex justify-content-center">
                    <div class="float-left">
                        <input type="text" class="form-control float-left" formControlName="query"
                            autocomplete="outlet-name" maxlength="30">
                    </div>
                    <button class="btn btn-primary float-left ml-1" type="submit">Search</button>
                    <button class="btn btn-primary float-left ml-3" (click)="addText()">Add</button>
                </div>
            </div>
        </form>
        <div *ngFor="let text of textList">
                <div>{{text.title}}</div>
                <div>{{text.author}}</div>
                <div>{{text.publisher}}</div>
                <div>{{text.topic}}</div>
                <div>{{text.type}}</div>
                <div>{{text.content}}</div>
            <vb-text [text]='text'></vb-text>
        </div>
    </div>
</div>