<div class="container-fluid">
    <h3>Add new word definition</h3>
    <form [formGroup]="form" (submit)="submit()">
        <div class="row">
            <div class="col">
                <div class="row m-1">
                    <div class="col-4">
                        <label class="small font-weight-bold"> title: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="title"
                             autocomplete="outlet-name" maxlength="30">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4">
                        <label class="small font-weight-bold"> author: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="author"
                             autocomplete="outlet-name" maxlength="30">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4">
                        <label class="small font-weight-bold"> publisher: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="publisher"
                             autocomplete="outlet-name" maxlength="30">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4">
                        <label class="small font-weight-bold"> topic: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="topic"
                             autocomplete="outlet-name" maxlength="30">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4">
                        <label class="small font-weight-bold"> type: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="type"
                             autocomplete="outlet-name" maxlength="30">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4">
                        <label class="small font-weight-bold"> content: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="content"
                             autocomplete="outlet-name" maxlength="30">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4">
                    </div>
                    <div class="col-8">
                        <button class="btn btn-primary float-right" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>