<div class="modal-header">
    <h5 class="modal-title">Add new word</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">×</span>
    </button>
</div>
<form [formGroup]="form" (submit)="submit()">
    <div class="modal-body" [ngClass]="{'disableDiv': isDisabled}">
        <div class="container-fluid">
            <div class="col">
                <div class="row m-1">
                    <div class="col-4">
                        <label class="small font-weight-bold"> Expression: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="expression"
                             autocomplete="outlet-name" maxlength="30">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4">
                        <label class="small font-weight-bold"> Definition: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="definition"
                             autocomplete="outlet-name" maxlength="30">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4">
                        <label class="small font-weight-bold"> Example: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="example"
                             autocomplete="outlet-name" maxlength="30">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4">
                        <label class="small font-weight-bold"> Grammatical categories: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="grammaticalCategories"
                             autocomplete="outlet-name" maxlength="30">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4">
                        <label class="small font-weight-bold"> Thesaurus: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="thesaurus"
                             autocomplete="outlet-name" maxlength="30">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4">
                        <label class="small font-weight-bold"> Callocations: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="callocations"
                             autocomplete="outlet-name" maxlength="30">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4">
                        <label class="small font-weight-bold"> CEFR: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="cefr"
                             autocomplete="outlet-name" maxlength="30">
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-4">
                        <label class="small font-weight-bold"> Topic: </label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" formControlName="topic"
                             autocomplete="outlet-name" maxlength="30">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">Close</button>
    </div>
</form>